html, body {
    height: 100%;
    margin: 0;
}

.el-card{
    margin-top: 20px;
}

.el-pagination {
    margin-top: 20px;
}

.el-icon-success {
    color: #42b983;
    font-size: 20px;
}

.el-icon-error {
    color: red;
    font-size: 20px;
}